body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0 auto;
}

/*    HEADER     */

.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    z-index: 10;
    background: black;
}
.header img {
    height: 50px;
    padding-left: 10px;
}
.header span a {
    display: inline-block;
    padding-right: 16px;
    text-decoration: underline;
    color: seashell;
}

/* Main Content Block */


.content {
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: scroll
}


/* Mission statement */


.mission.picture {
    background-image: url(../images/img-mission-background.jpg);
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.mission {
    background-color: black;
}
.pic {
    height: 200px;
    widows: 300px;
    padding: 0 10px;
}
.totm{
    padding-bottom: 20px;
}
.teas {
    display: flex;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
}
.tea p {
    padding-top: 10px;
    margin: 0 auto;
}
.tea {
    padding-top: 10px
}
.locations {
    background-image: url(../images/img-locations-background.jpg);
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spots {
    background-color: black;
    width: 300px;
    opacity: 1;   
    margin: 0 20px;
}
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.locations h2 {
    margin: 0 auto;
    padding-bottom: 15px;
}
.contact {
    height: 200px;
}